
html{
    scroll-behavior: smooth;
  }
/*--logo---*/
 .navbar img{
    width:40px;
    height:40px;
    border-radius:50%;
    box-shadow:0 0 10px rgb(226, 223, 223);
    margin-right:5px;
    margin-left:10px;
    }
    .img-test{
        color:rgb(238, 238, 233) !important;
         border:2px solid transparent;
         border-radius:50%;
         animation:grow-icon-logo 0.8s infinite linear;

     }
     @keyframes grow-icon-logo{
         0%,100%{
             transform: scale(1,1);
         }
         50%{
             transform: scale(1.07,1.07);
             box-shadow: 0 0 10px rgb(20, 20, 20);
             border:3px dotted rgb(23, 24, 24);
         }
     }
    
    .fullscreen-landing{
        background:white url("./images/banner.jpg") no-repeat scroll center;
        height: 100vh;
        background-size: cover;
    }
    .overlay{
        background-color: rgba(0,0,0,0.5);
        height:100%;
    }
     

     /*Footer*/
     .footer{
        position:absolute;
        bottom:0;
        width: 100%;
        height: 50px;
        background-color:rgb(24, 24, 26);
        text-align: center;
        color: white;
     }

     .inner{
        overflow: hidden;
    }
    .inner img{
        transition: all 1.5s ease;
    }
    .inner:hover img{
        transform: scale(1.5);
    }
    
    
    .yellow{
        background-color: #f1e392;
    }